.venv
h3wb_train.npz

.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

/data
ifgen/keypoints_2Dto3D_train3.npz
ifgen/keypoints_2Dto3D_train2.npz
ifgen/keypoints_2Dto3D_train10.npz
ifgen/keypoints_2Dto3D_train1.npz
ifgen/dataset_test.ipynb
ifgen/_all-543704.json
ifgen/2Dto3D_train_part5.json
ifgen/2Dto3D_train_part4.json
