numpy==1.26.4
einops==0.8.0
timm==1.0.9
matplotlib==3.7.1
tqdm==4.66.5
yacs==0.1.8
numba==0.60.0
filterpy==1.4.5
scikit-image==0.24.0
opencv-python==4.10.0.84
ipython==8.27.0
langchain==0.3.1
langchain-community==0.3.1
openai==1.50.2
python-dotenv==1.0.1
flask==3.0.3